@import "~config/styles.scss";

.mobileApp .component.description {
	width : 100%;
	height : 100%;
	position : relative;	
	transition : all 0.5;
	
	&.animationIn {
		.left-block {
			left : 0px;
		}
		.right-block {
			opacity : 1;
			transform : translate3d(0, 0, 0);
		}
		.top-banner {
			.url, .close {
				transform : translate3d(0, 0, 0);
			}
		}
	}

	&.animationOut {
		.left-block {
			left : -100%;	
		}
		.right-block {
			opacity : 0;
			transform : translate3d(0, 20px, 0);
		}
		.top-banner {
			.url, .close {
				transform : translate3d(0, -100px, 0);
				transition-delay : 0s;
			}
		}
	}

	.top-banner {
		position : fixed;
		z-index: 11;
		top: 0;
		left: 0;
		width: calc(100% - 40px);
		padding : 20px;
		img {
			width : 12px;
		}
		.url {
			float: left;
			color : white;
			transform : translate3d(0, -100px, 0);
			transition : all 0.5s;
			transition-delay : 0.25s;
		}
		.close {
			float : right;
			color : white;
			transform : translate3d(0, -100px, 0);
			transition : all 0.5s;
			transition-delay : 0.45s;
		}
		.clr {
			clear : both;
		}
	}
	.left-block, .right-block{
		display: inline-block;
		vertical-align: middle;
	}
	.left-block {
		position : fixed;
		top : 0;
		left: -100%;
		height: 300px;
		width: 100%;
		z-index: 10;
		text-align: center;
		transition : all 0.25s;
		.imageDescription {
			width : 100%;
			height : 100%;
			background-size: cover;
			background-position: center bottom;
		}
	}
	.right-block {
		z-index: 3;
		margin: 300px 35px 0 35px;
		transition : all 0.35s;
		opacity : 0;
		transform : translate3d(0, 20px, 0);
		&::-webkit-scrollbar {
			display : none;
		}
		h2 {
			font-size: 57px;
			margin: 30px 0;
		}
		.keys {
			margin : 0 0 30px 0;
			.key {
				margin : 0 0 20px 0;
			}
		}
		.right-column, .left-column {
			display : inline-block;
			vertical-align: top;
		}
		.left-column {
			width : calc(30% - 15px);
			margin : 0 15px 0 0;
		}
		.right-column {
			width : calc(70% - 15px);
			margin : 0 0 0 15px;
			word-break : break-word;
		}
		.description {
			margin: 0 0 40px 0;
		}
		.credits {
			margin: 0 0 50px 0;
			color : $lightGrey;
		}
		.person {
			display : block;
		}
	}
}