@import "~config/styles.scss";

.desktopApp .component.home {
    width : 100%;
    height : 100%;
    &.animationIn {
      .arrows {
        opacity: 1;  
      }
    }
    .arrows {
      opacity: 0;
      position : absolute;
      right: 20px;
      top : -30px;
      cursor: pointer;
      transition : 0.5s;
      span {
        &:nth-child(1) img{
          transform : rotate(180deg);
        }
      }
      img {
        padding : 0 10px;
        display: inline-block;
        vertical-align: middle;
        width : 10px;
      }
    }
    .project-list {
      margin : 0 0 0 70px;
      width : calc(100% - 70px);
      height : 100%;
      position : relative;
      transition : 0.5s all;
      z-index: 2;
    }

}