@import "~config/styles.scss";

.mobileApp .component.home {
    width : calc(100% - 20px);    
    padding : 10px;

    .shortDescription {
  		font-size: 30px;
  		opacity: 0;
  		transition : 0.5s opacity;
  		margin: 10px 15px;
    }

    .links {
      margin: 30px 15px; 
      text-align: center;
      opacity: 0;
      transition : 0.5s opacity;
      transition-delay: 0.1s;
      font-size: 20px;
      a {
        padding : 0 10px;
        &:nth-child(1) {
          color : rgba(235, 91, 87, 1);
        }
        &:nth-child(2) {
          color : rgba(64, 142, 248, 1);
        }
        &:nth-child(3) {
          color : rgba(108, 72, 243, 1);
        }
      }

    }
    .arrowBottom {
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      transform: rotate(90deg);
      margin: 0 15px 0 0;
    }
    
    .someWork {
      margin: 30px 15px; 
      span {
          display: inline-block;
          vertical-align: middle;
          width: calc(100% - 30px);
        }
    }
    .project-list {
      position : relative;
      transition : 0.5s all;
      transition-delay : 0.25s;
      opacity: 0;
      transform: translateY(100px);
    }
    &.animationIn {
    	.shortDescription { 
			opacity: 1;
    	}
  		.project-list {
  		  transform: translateY(0px);
  		  opacity: 1;
  		}
      .links {
        opacity: 1;
      }
    }
    &.animationOut {
    	.shortDescription { 
			opacity: 0;
    	}
  		.project-list {
  		  transform: translateY(100px);
  		  opacity: 0;
  		}
      .links {
        opacity: 0;
      }
    }
}