@import "~config/styles.scss";

.desktopApp .component.about {
	width : 100%;
	height : 100%;
	&.animationIn {
		.left-block {
			right : 50%;
			opacity : 1;
		}
		.right-block {
			opacity: 1;
		}
		.close {
			opacity : 1;
		}
	}
	&.animationOut {
		.left-block {
			right : calc(50% - 60px);
			opacity : 0;
		}
		.right-block {
			opacity: 0;
			transition : opacity 0.25s;
			transition-delay: 0s;
		}
		.close {
			opacity : 0;
		}
	}
	.close {
		position : absolute;
		top: -60px;
    	right: 50px;
		padding : 10px;
		opacity : 0;
		transition : opacity 0.5s;
		img {
			width : 12px;
		}
	}
  .left-block, .right-block{
	display: inline-block;
	vertical-align: middle;
	background-size : cover;
	background-position : center top;
	position : absolute; 
	top : 0;
  }
  .left-block {
  	height: 100%;
	width: 50%;
	background-size: cover;
	background-position: center top;
	text-align: center;
	right : calc(50% - 60px);
	opacity : 0;
	transition : 0.3s all;
	z-index: 1;
  }
  .right-block {
	z-index: 2;
  	right : 0;
	width: calc(50% - 140px);
	margin: 0 70px 0 70px;
	height: calc(100%);
	overflow: scroll;
	&::-webkit-scrollbar {
		display : none;
	}
	opacity : 0;
	transition : 1s opacity;
	transition-delay : 0.3s;
	@include tablet() {
		width: calc(50% - 100px);
		margin: 0 50px 0 50px;
	}
	h2 {
		font-size: 57px;
		margin : 70px 0 60px 0;
	}
	.keys {
		margin : 0 0 30px 0;
		.key {
			margin : 0 0 20px 0;
		}
	}
	.right-column, .left-column {
		display : inline-block;
		vertical-align: top;
	}
	.left-column {
		width : calc(30% - 15px);
		margin : 0 15px 0 0;
	}
	.right-column {
		width : calc(70% - 15px);
		margin : 0 0 0 15px;
		word-break : break-word;
	}
	.description {
		margin: 0 0 40px 0;
		font-size: 17px;
		line-height: 26.5px;
	}
	.thanks {
		margin: 0 0 40px 0;
	}
  }
}