@import "~config/styles.scss";

.mobileApp .component.project-item {
	color : white;
	cursor : pointer;
	bottom: 0;
	font-size: 40px;
	background-size: cover;
	background-position: center top;
	padding : 20px;
	height: 240px;
	margin : 10px 0 10px 0;
	width : calc(100% - 40px);

}