@import "~config/styles.scss";

.mobileApp .component.about {
	width : 100%;
	height : 100%;
	min-height: 100vh;
	&.animationIn {
		.left-block {
			transform : translate3d(0, 0, 0);
		}
		.right-block {
			opacity: 1;
		}
		.close {
			opacity : 1;
			top : 0;
		}
	}
	&.animationOut {
		.left-block {
			transform : translate3d(-100%, 0, 0);
		}
		.right-block {
			opacity: 0;
			transition : opacity 0.25s;
			transition-delay: 0s;
		}
		.close {
			opacity : 0;
			top : -40px;
		}
	}
	.close {
		position : absolute;
		top: -40px;
    	right: 10px;
		padding : 10px;
		opacity : 0;
		z-index: 10;
		transition : all 0.5s;
		img {
			width : 12px;
		}
	}
  .left-block, .right-block{
	display: inline-block;
	background-size : cover;
	background-position : center top;
  }
  .left-block {
  	height: 300px;
  	width: 100%;
  	transform : translate3d(-100%, 0, 0);
	background-size: cover;
	background-position: center top;
	text-align: center;
	transition : all 0.5s;
  }
  .right-block {
	margin: 0 30px;
	height: calc(100%);
	transition : 1s opacity;
	opacity : 0;
	h2 {
		font-size: 57px;
		margin : 30px 0
	}
	.keys {
		margin : 0 0 30px 0;
		.key {
			margin : 0 0 20px 0;
		}
	}
	.right-column, .left-column {
		display : inline-block;
		vertical-align: top;
	}
	.left-column {
		width : calc(30% - 15px);
		margin : 0 15px 0 0;
	}
	.right-column {
		width : calc(70% - 15px);
		margin : 0 0 0 15px;
		word-break : break-word;
	}
	.description {
		margin: 0 0 40px 0;
	}
  }
}