@import "~config/styles.scss";

.component.header {
  .title {
    display : inline-block;
    margin: 70px 0 0 70px;
    .developer {
      color : $darkGrey;
      padding: 10px 0 0 0;
    }  
  }
}