// Paths
$path: '/';
$imgPath: $path+'img/';
$font : $path+'font/';

// Responsive
@mixin mobile() { @media screen and (max-width:749px) { @content; } } // @include mobile { }
@mixin tablet() { @media screen and (max-width:999px) { @content; } } // @include mobile { }
@mixin desktop() { @media screen and (min-width:1000px) { @content; } } // @include desktop { }

$darkGrey : #999999;
$lightGrey : #bfbfbf;

$lightPurple : "rgba(108, 72, 243, 1)";
$blackPurple : "rgba(75, 47, 165, 1)";

$lightOrange : "rgba(235, 91, 87, 1)";
$blackOrange : "rgba(206, 75, 67, 1)";

$lightYellow : "rgba(244, 175, 59, 1)";
$blackYellow : "rgba(206, 140, 47, 1)";

$lightBlue : "rgba(64, 142, 248, 1)";
$blackBlue : "rgba(51, 108, 195, 1)";

$lightGrren : "rgba(102, 216, 164, 1)";
$blackGrren : "rgba(77, 165, 127, 1)";