// Paths
$path: '/';
$imgPath: $path+'img/';
$font : $path+'font/';

// Responsive
@mixin mobile() { @media screen and (max-width:767px) { @content; } } // @include mobile { }
@mixin desktop() { @media screen and (min-width:768px) { @content; } } // @include desktop { }

$darkGrey : #999999;
$lightGrey : #bfbfbf;