@import "~config/styles.scss";

.mobileApp .component.footer {
	position : absolute;
	bottom: 30px;
    left: 100px;
    opacity : 0;
    transition : left 0.5s, opacity 0.5s;
	transform : rotate(-90deg);
	transform-origin : 0 50%;
	a {
		margin : 0 10px;
	}
	&.animationIn {
		left : 70px;
		opacity : 1;
	}
}