@import "~config/styles.scss";

.component.home {
    width : 100%;
    height : 100%;
    overflow: hidden;
    .project-list {
      width : 100%;
      height : 100%;
      .project-item {
          width : calc(34% - 90px);
          position: absolute;
          bottom: 0;
          padding : 45px;
          font-size: 40px;
          &:nth-child(1) {
              height : calc(56% - 90px);
          }
          &:nth-child(2) {
              height : calc(70% - 90px);
          }
          &:nth-child(3) {
              height : calc(64% - 90px);
          }
          &:nth-child(4) {
              height : calc(56% - 90px);
          }
          &:nth-child(5) {
              height : calc(70% - 90px);
          }
      }
  }

}