@import "~config/styles.scss";

.component.home {
    width : 100%;
    height : 100%;
    .arrows {
      position : absolute;
      right: 20px;
      top : -30px;
      cursor: pointer;
      span {
        margin : 0 10px;
      }
    }
    .project-list {
      margin : 0 0 0 70px;
      width : calc(100% - 70px);
      height : 100%;
      position : relative;
      transition : 0.5s all;
      z-index: 2;
    }

}