@import "~config/styles.scss";

.desktopApp .component.footer {
	position : absolute;
	bottom: 30px;
    left: 100px;
    opacity : 0;
    transition : left 0.5s, opacity 0.5s;
	transform : rotate(-90deg);
	transform-origin : 0 50%;
	a {
		margin : 0 20px;
		font-size: 14.5px;
	}
	&.animationIn {
		left : 70px;
		opacity : 1;
	}
	.locale {
		margin: 0 20px;
		
		display : inline-block;
	    cursor: pointer;
	    transition : opacity 0.25s;
	    transition-delay : 0.25s;
	    a {
	    	opacity : 0.6;
	      	margin : 0px;
		    &.current {
		      opacity : 1;
		    } 
	    }
 	}
 	.separator {
 		color : #999999;
 		margin: 0 2px;
 		opacity : 0.6;
 	}
}