@import "~config/styles.scss";

.desktopApp .component.header {
  .title {
    display : inline-block;
    margin: 70px 0 0 0;
    transition : margin-left 0.5s, opacity 0.5s;
    opacity : 0;
    @include tablet() {
    	margin: 50px 0 0 0;
    }
    h1 {
      color : black;
    }
    .developer {
      color : $darkGrey;
      padding: 10px 0 0 0;
    }  
  }
  
  &.animationIn {
    .title {
      margin-left : 70px;
      opacity : 1;
      @include tablet() {
        margin-left: 50px;
      }  
    }
    .projects {
      .left, .right {
        margin-left : 140px;
        opacity : 1;
        @include tablet() {
          margin-left: 100px;
        }
      }
    }
    .locale {
      opacity : 1;
    }
  }
  &.animationOut {
    .title {
      opacity : 0;
    }
    .projects {
      .left, .right {
        opacity : 0;
      }
    }
    .locale {
      opacity : 0;
    }
  }
}