@import "~config/styles.scss";

.desktopApp .component.project-item {
	color : white;
	cursor : pointer;
	position: absolute;
	bottom: 0;
	font-size: 40px;
	background-size: cover;
	background-position: center top;
	.title {
		opacity : 0;
		transition : opacity 0.30s;
		transition-delay : 0.10s;
	}
	&:hover {
		transform : scale(1.1,1.1);
	}
	&:nth-child(2n+1) {
		height : calc(56% - 90px);
	}
	&:nth-child(2n+2) {
		height : calc(70% - 90px);
	}
	&:nth-child(2n+3) {
		height : calc(64% - 90px);
	}
	&.animationOut {
		padding : 45px 0 45px 0;
		width : 0;
		transition : padding 0.35s, width 0.35s, opacity 0.20s, transform 0.25s;
		.title {
			opacity : 0;
			transition-delay : 0;
			transition : opacity 0.20s
		}
	}
	&.animationIn {
		padding : 45px 45px 45px 45px;
		width : calc(100% / 3 - 90px);
		transition : padding 0.35s, width 0.35s, opacity 0.05s, transform 0.25s;
		.title {
			opacity : 1;
		}
	}
}